{% extends "layouts/base.twig" %}

{% block title %}Cuenta creada{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/crear-cuenta.css">
{% endblock %}

{% block main %}
    <h2>Cuenta creada</h2>
    <p>Tu cuenta ha sido creada exitosamente.</p>
    <div class="volver-inicio">
        <p>Volver a <a href="/">Inicio</a></p>
    </div>
{% endblock %}
